$username-color: #fff
$user-text-color: rgba(255, 255, 255, 0.6)
$center-margin: 1.5rem


p
    font-family: Roboto

.sidebar
    height: 94vh
    width: 23%
    min-width: 21rem
    border: 2px solid #353638
    border-radius: 10px
    margin: 1.75rem 1rem

    .account__detail
        margin-top: .5rem
        margin-left: $center-margin - .5rem

    p
        color: $username-color
        margin-left: 1.5rem
        font-size: 1.25rem

    .search
        margin-left: $center-margin

.profile__image
    width: 64px
    height: 100%

    img
        width: 100%
        height: auto

.account__detail
    display: flex

.account__info
    display: flex
    justify-content: center
    flex-direction: column

    .username
        color: $username-color
        font-size: 1.1rem
        font-weight: bold
        margin: 0

    .nickname
        font-size: .8rem
        font-weight: 100
        color: $user-text-color
        margin: 0

.search

    svg
        height: auto
        width: 24px
        position: absolute
        margin-top: 1rem
        margin-left: .5rem

    input
        font-size: 1.2rem
        padding: 1rem 1rem 1rem 2rem
        border-radius: 15px
