
.list__info 
    display: flex
    margin-top: 2rem
    
    li 
        color: #fff
        font-size: 1.25rem
        list-style: none
        width: 8rem
        margin: 0 2rem


svg 
    cursor: pointer