.input__container
    position: relative
    display: flex
    justify-content: center
    align-items: center
    width: 42.5rem
    min-width: 15rem

    .eye__icon
        position: absolute
        right: 5.2rem
        height: 1.5rem
        width: 1.5rem
        color: #ADADAD
        cursor: pointer

    .error
        position: absolute
        right: 2rem
        font-size: 1.5rem
        color: red
        cursor: default

        &.has-eye-icon

            right: 2rem

.input
    font-size: 1.25rem
    background-color: #191B1F
    border: 1px solid #191B1F
    margin: 1.063rem 0
    color: #F1C40F
    padding: 1.15rem 1.25rem
    border-radius: 45px
    width: 80%
    box-sizing: border-box

@media (max-width: 600px)

    .input__container
        justify-content: center

        .eye__icon
            right: 11.5rem
            height: 20px

        .error
            right: 9rem

            svg
                height: 20px

            &.has-eye-icon
                right: 9rem

                svg
                    height: 20px

        .input
            font-size: 1rem
            width: 21rem
            margin: .5rem 0
            padding: 1rem 1.15rem 1rem 1.15rem

@media (max-width: 400px)

    .input__container
        svg
            right: 0rem
        .eye__icon
            right: 13rem
            height: 20px

        .error
            right: 9.5rem

            svg
                height: 20px

            &.has-eye-icon
                right: 9.5rem

                svg
                    height: 20px

        .input
            font-size: 1rem
            width: 18.5rem
            margin: .5rem 0
            padding: 1rem 1.15rem 1rem 1.15rem
