
.login__menu
    display: flex
    align-items: center
    flex-direction: column

.logo
    display: flex
    align-items: center
    justify-content: center
    margin-right: 15rem
    width: 100%

    & h1
        color: #F1C40F
        font-size: 4.5rem

    img
        position: relative
        left: 3rem
        bottom: 3rem
        height: 20rem
        width: auto
        // margin-right: 1rem

.sign_in__text
    color: #F1C40F
    font-size: 3rem
    font-weight: 600
    margin: 0 0 2rem 0

.sign_in__container
    display: flex
    flex-direction: column
    width: 42.5rem
    min-width: 15rem

.password__container
    position: relative
    display: flex
    align-items: center

    & input
        padding-right: 3rem

.eye__icon
    cursor: pointer
    position: absolute
    right: 5.5rem

.sign_in__btn
    background-color: #F1C40F
    padding: 1rem 6.125rem
    font-size: 1.25rem
    border-radius: 45px
    margin-top: 2.5rem
    cursor: pointer

.sign_up_text
    color: #F1C40F
    font-size: 1rem
    margin-top: 1rem
    text-align: center

.sign_up__btn
    background-color: #F1C40F
    padding: 1rem 6.125rem
    font-size: 1.25rem
    border-radius: 45px
    margin-top: 2.5rem
    cursor: pointer

    &:hover
        color: #FFD700
        text-decoration: underline

.sign_up__with
    display: flex
    align-items: center

    & span
        height: 1px
        width: 50px
        background-color: #525151
        border-radius: 45px
        margin: 0 1rem

    p
        color: #FFD700

.sign_up__withIcons
    display: flex
    justify-content: center
    margin-top: 1rem
    padding-bottom: .7rem

    svg
        height: auto
        width: 2rem
        margin: 0 1rem

.sign_in_link
    color: #FFD700
    margin-top: 1rem

    &:hover
        text-decoration: underline
